body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: url('https://th.bing.com/th/id/OIP.h58ggDGYrZpQw97sSVAXgwHaE8?rs=1&pid=ImgDetMain') center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #2980b9;
}

section {
    padding: 80px 0;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}