* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    font-family: 'Smooch';
    text-align: center;
}

h2 {
  text-align: center;
  margin-top: -40px;
  font-family: 'Dancing Script';
}

section p{
  font-family: 'Dancing Script';
  text-align: center;
  margin-bottom: 20px; ;
  font-size: 25px;
}

body {
    background:rgb(238, 141, 189);
    color: #fff;
    transition: all 0.4s ease;
  }

body.night-mode {
    background: rgb(50, 12, 54);
    color: #fff3dc;
    transition: all 0.4s ease;
  }

  h4 {
    float: right;
    margin-top: -90px;
    font-family: sans-serif;
    transition: all 0.4s ease;
  }

  hr{
    margin-top: -20px;
    margin-bottom: 30px;
  }

  h3 {
    font-family: 'Poppins';
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: url('https://img.freepik.com/premium-photo/purple-color-gradient-abstract-background_608068-792.jpg') center/cover no-repeat;
    color: rgb(253, 226, 241);
    text-align: center;
    padding: 100px 0;
    position: relative;
}

header h1 {
    font-size: 6em;
    margin-bottom: 50px;
}

header p {
    font-size: 1.5em;
    margin-bottom: 60px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #e545ad;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ca2ba5;
}

section {
    padding: 80px 0;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.button {
    float: right;
    margin: -430px auto;
    position: relative;
    width: 70px;
    height: 35px;
    text-align: center;
    background: #454648;
    border-radius: 23px;
    cursor: pointer;
    transition: all 0.4s ease;
  }
.button:hover {
    background: #f4b7f4;
    transition: all 0.4s ease;
  }
.icon {
    height: 30px;
    width: 30px;
    background: #151618;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin: 2px;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.4s ease;
  }
.on .icon {
    left: auto;
    left: 36px;
    transition: all 0.4s ease;
  }
.emoji-overlay {
    position: absolute;
    background: #050608;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mix-blend-mode: color;
    transition: all 0.4s ease;
    border-radius: 23px;
  }
.on .emoji-overlay {
    background: transparent;
    transition: all 0.4s ease;
  }

div{
    text-align: center;
  }
  