* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Typography */
h1, h2, h3 {
  opacity: 0;
  animation: fadeInUp 1s ease-out 0.5s forwards;
}

h1 {
  font-family: 'Smooch';
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: -40px;
  font-family: 'Dancing Script';
}

h3 {
  font-family: 'Poppins';
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

/* Body and Night Mode */
body {
  background: rgb(238, 141, 189);
  color: #fff;
  transition: all 0.4s ease;
}

body.night-mode {
  background: rgb(50, 12, 54);
  color: #fff3dc;
}
body.night-mode {
  background: rgb(50, 12, 54);
  color: #fff3dc;
}

header {
  background: url('https://img.freepik.com/premium-photo/purple-color-gradient-abstract-background_608068-792.jpg') center/cover no-repeat;
  color: rgb(253, 226, 241);
  text-align: center;
  padding: 100px 0;
  position: relative;
}

header h1 {
  font-size: 6em;
  margin-bottom: 50px;
}

header p {
  font-size: 1.5em;
  margin-bottom: 60px;
  opacity: 0;
  animation: fadeInUp 1s ease-out 1s forwards;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #e545ad;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
  opacity: 0;
  animation: fadeInUp 1s ease-out 1.5s forwards;
}

.cta-button:hover {
  background-color: #ca2ba5;
}

section {
  padding: 80px 0;
}

section h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  opacity: 0;
  animation: fadeInUp 1s ease-out 0.5s forwards;
}

.text-lisa {
  text-align: center;
  font-size: bold;
}

.button {
  float: right;
  margin: -400px auto;
  position: relative;
  width: 70px;
  height: 35px;
  text-align: center;
  background: #454648;
  border-radius: 23px;
  cursor: pointer;
  transition: all 0.4s ease;
  opacity: 0;
  animation: fadeInUp 1s ease-out 1s forwards;
}

.container-button-right {
  margin-right: 50px;
}

.button:hover {
  background: #f4b7f4;
}

.icon {
  height: 30px;
  width: 30px;
  background: #151618;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  margin: 2px;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.4s ease;
}

.on .icon {
  left: auto;
  left: 36px;
}

.emoji-overlay {
  position: absolute;
  background: #050608;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: color;
  transition: all 0.4s ease;
  border-radius: 23px;
}

.on .emoji-overlay {
  background: transparent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

.Hellokitty {
  width: 100%;
  max-width: 300px; 
  margin: 0 auto 20px; 
  opacity: 0;
  animation: fadeInUp 1s ease-out 1s forwards;
}

.Hellokitty img {
  width: 100%;
  height: auto;
}

.about-text {
  flex: 1;
  text-align: left;
  max-width: 800px; 
  opacity: 0;
  animation: fadeInUp 1s ease-out 1.5s forwards;
}

.gifsourire {
  width: 100%;
  max-width: 300px; 
  margin: 0 auto;
  display: block;
  opacity: 0;
  animation: fadeInUp 1s ease-out 2s forwards;
}

.gifsourire img {
  width: 100%;
  height: auto;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section.projects {
  padding: 80px 0;
  background-color: #fff; 
  opacity: 0;
  color: #050608;
  animation: fadeInUp 1s ease-out 0.5s forwards;
}

section.projects h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.project {
  margin-bottom: 40px;
  opacity: 0;
  animation: fadeInUp 1s ease-out 0.5s forwards;
}

.project img {
  max-width: 100%;
  border-radius: 8px;
}

.project h3 {
  margin-top: 20px;
  font-size: 1.5em;
}

.project p {
  margin-top: 10px;
  color: #555;
}

.project a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e545ad;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.project a:hover {
  background-color: #ca2ba5;
}
@media only screen and (max-width: 600px) {
  .projects {
    padding: 40px 0;
  }

  .projects h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  .project {
    margin-bottom: 20px;
  }
}

.night-mode .projects {
  background-color: violet;
  color: #fff;
}

/* Pop Up */

*,
*::before,
*::after {
  box-sizing: border-box;
}


.modal-wrap p {
  color: #050608;
  text-align: start;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.modal-btn:checked + label,
.modal-btn:not(:checked) + label{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 240px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
  border: none;
  cursor: pointer;
  background-color: #cc13d3;
  color: #ffffff;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}
.modal-btn:not(:checked) + label:hover{
  background-color: #961870;
  color: #ffffff;
}
.modal-btn:checked + label .uil,
.modal-btn:not(:checked) + label .uil{
	margin-left: 10px;
	font-size: 18px;
}
.modal-btn:checked + label:after,
.modal-btn:not(:checked) + label:after{
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 110;
  width: 40px;
  border-radius: 3px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  background-color: #700767;
  color: #ffffff;
  font-family: 'unicons';
  content: '\eac6'; 
  box-shadow: 0 12px 25px 0 rgba(90, 1, 94, 0.25);
  transition: all 200ms linear;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  content: "X";
}
.modal-btn:checked + label:hover:after,
.modal-btn:not(:checked) + label:hover:after{
  background-color: #c013c0;
  color: #ffffff;
  content: "X";
}
.modal-btn:checked + label:after{
  transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.modal{
  position: fixed;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(31,32,41,.75);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease;
}
.modal-btn:checked ~ .modal{
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.modal-wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199,175,189,.25);
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}
.modal-wrap img {
  display: block;
  width: 100%;
  height: auto;
}
.modal-wrap p {
  padding: 20px 30px 0 30px;
}
.modal-btn:checked ~ .modal .modal-wrap{
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}


.logo {
	position: absolute;
	top: 25px;
	left: 25px;
	display: block;
	z-index: 1000;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  	filter: brightness(10%);
	transition: filter 250ms 700ms linear;
}
.modal-btn:checked ~ .logo img {
  	filter: brightness(100%);
	transition: all 250ms linear;
}


@media screen and (max-width: 500px) {
	.modal-wrap {
		width: calc(100% - 40px);
		padding-bottom: 15px;
	}
	.modal-wrap p {
	  padding: 15px 20px 0 20px;
	}
}